@font-face{
    font-family: 'Cursed Timer ULiL';
    src: url("CursedTimerULiL.ttf");
}
body {
    margin: 0;
    background: #1B244A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
    font-family: 'Verdana';
font-style: normal;
color: #EEEEEE;
line-height: 36px;
text-align: center;
}

p{
display: inline;
margin: 20px;
padding: 0 30px;
font-family: 'Cursed Timer ULiL';
font-size: 90px;
text-align: center;
color: #F94F6D;
background: #080001;
border-radius: 5px;
}

button{
background: transparent;
border: 2px solid #9AABD8;
border-radius: 5px;
font-family: 'Cursed Timer ULiL';
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #9AABD8;
}

.buttons{
    text-align: center;
}

#reset-button{
    background: transparent;
border: 2px solid #9AABD8;
border-radius: 5px;
font-family: 'Cursed Timer ULiL';
font-weight: 500;
font-size: 25px;
line-height: 28px;
text-align: center;
color: #9AABD8;
}

#new-game{
    text-align: center;
    margin: 20px 0 0;
}